:root {
    // Primary Colors
    --PURPLE-10:#35189C;
    --PURPLE-20:#5431D0;
    --PURPLE-30:#653DF5;
    --PURPLE-40:#4D20EF;
    --PURPLE-50:#3401EE;

    // Auxiliary Colors
    --BROWN: #80440D;
    --YELLOW: #E9C300;
    --WHITE: #fff;
    --BLACK: #000;

    // Gray colors
    --GRAY-900: #0A0B0D;
    --GRAY-800: #393B42;
    --GRAY-700: #5C5F69;
    --GRAY-600: #787C87;
    --GRAY-500: #979BA6;
    --GRAY-400: #ABAFBA;
    --GRAY-300: #C0C3CC;
    --GRAY-200: #DFE1E8;
    --GRAY-100: #F5F6FA;
}